
body {
    background-color: #1E1E1E;
    color: #E0E0E0;
}

#dirt_piles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 400px;
    margin: 2rem auto;
}

.pile{
    aspect-ratio: 1;
    background: #885A2B;
    border-radius: 50% 50% 20% 20%;
    cursor: pointer;
}
.pile.empty{
    background: #3b2a1a;
    border-radius: 50%;
}
.pile.treasure {
    background: gold;
    border-radius: 50%;
}

body.light-mode {
    background-color: #F5EFE0;
    color: #2B2118;
}
body.light-mode .pile {
    background: #A9744F;
}
body.light-mode .pile.empty {
    background: #D8CFC0;
}
body.light-mode .pile.treasure {
    background: #E8B923;
}